@font-face {
    font-family:AdobeInvisFont ;
    src: url(C:\Windows\Fonts\ADOIF__.PFB.ttf);
}
body, html{
    padding: 0%;
    margin: 0%;
}
body{
    margin-left: 9%;
}
.header{
    width: 750px;
    height: 235px;
    background-color: #2d7053;
    margin:  0px 167.5px ;

}
h1{
    margin: 0%;
    font-family: 'Arimo', sans-serif;
    font-size: 23pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    max-height: 131px;
    max-width: 134px;
}
.text{
    display: inline-block;
    margin: 52px 243px 52px 58px;
    position: absolute;
}
.circle{
    background-color:rgb(255, 255, 255);
    width:141px;
    height:141px;
    border-radius: 70px;
    display: inline-block;
    margin: 47px 0px 47px 38px ;
}
.burger{
    display: inline-block;
    margin: 84px 44px 83px 438.5px;
}
.top, .mid, .bot{
    height: 12px;
    width: 84px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 8px;
    
}
.bot{
    margin-bottom: 0px ;
}
.frame2{
    display: block;
    margin:  0px 167.5px ;
    position: relative;
    height:466px ;
    width: 750px;
    background-image: url(../img/0325115cfca2f08bd19529e1d4a4396a@1X.png);
}
div a{
    text-decoration: none;
    color: white;
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 23pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding: 19.5px 35.5px;
    position: absolute;
 
}
.button{
    background: #cb9223;
    height: 74px;
    width: 341px;
    margin: 345px 204px 47px 205px;
    position: absolute;
}
#ava{
    border-radius: 123.5px;
}
.photo{
    margin: 73px 0px 0px 211.5px;
    width: 247px;
    display: inline-block;
}
.name h2{
    font-size: 24pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin-bottom: 29px;
}
.name p{
    font-size: 24pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
}
.name{
    display: inline-block;
    margin: 95px 0px 0px 75px;
    position: absolute;
}
.description{
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20pt;
    color: rgba(0, 0, 0, 255);
    width: 639px;
    height: 186px;
    margin: 60px 0px 0px 211.5px;
}
.reasons h2{
    font-size: 26pt;
    height: 32px;
}
.reasons{
    margin: 46px 0 0 211.5px;
}
li{
    list-style: none;
    font-size: 18.5pt;
}
ul{
    margin-top: 43px;
    margin-bottom: 0%;
    padding: 0%;
    height: 190px;
    width: 256px;
}
.knopka{
    background: #cb9223;
    height: 74px;
    width: 341px;
    margin: 44px 0 0 385.5px;
    position: absolute;
    display: block;
} 
.knopka a{
    text-decoration: none;
    color: white;
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 23pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding: 19.5px 35.5px;
    position: absolute;
}
.circle2{
    display: block;
    margin: 29px 0px 28px 45px;
    width: 96px ;
    height: 96px;
    border-radius: 48px;
    background-color: white;
}
.footer{
    margin-top: 168px;
    display: inline-block;
    width: 750px;
    height: 153px;
    margin-left: 167.5px;
    background:#888888;
}

.footer p{
    position: relative;
    display: inline;
    font-size: 10pt;
    margin: 0%;
    width: 150px;
    margin-left: 0%;

}